#JUCE generated content
Builds
BinaryData.h
BinaryData*.cpp
JuceLibraryCode
build*/

#Windows Temp Cache Files
[Tt]humbs.db

#macOS Finder and whatnot
.DS_Store
*.DS_Store
*.swp
*~

# IDE settings
.vscode
.idea
